<!DOCTYPE html>
<html lang="en">
  <head>
    <title>1 Tap Meal</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">University of Aveiro DETI</h3>
      </div>
 
      <div class="jumbotron">
        <h1>1 Tap Meal</h1>
        <form class="form-signin" action="/signup">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="localization" class="sr-only">Localization (city) </label>
        <input type="localization" name="localization" id="localization" class="form-control" placeholder="Localization" required autofocus>
        <label for="username" class="sr-only">Manager username</label>
        <input type="username" name="username" id="username" class="form-control" placeholder="Manager Username" required>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" onclick="window.location.href='{{url_for('signup')}}'">Sign up</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Services engineering 2015</p>
      </footer>
 
    </div>
  </body>
</html>