<!DOCTYPE html>
<html lang="en">
  <head>
    <title>1 Tap Meal</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body> 
    <div class="container">
      <div class="header">
        <img src="../static/ua_logo.png" alt="University of Aveiro" width="400" height="90">
      </div> 
      <div class="jumbotron">
        <img src="../static/1tapmeal.png" alt="University of Aveiro" width="200" height="150">
        <form class="form-signin" action="/signup">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Restaurant name" required autofocus>
        <label for="localization" class="sr-only">Localization (city) </label>
        <input type="localization" name="localization" id="localization" class="form-control" placeholder="Localization - city" required autofocus>
        <input type="coordenates" name="coordenates" id="coordenates" class="form-control" placeholder="Coordenates" required autofocus>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" onclick="window.location.href='{{url_for('signup')}}'">Sign up</button>  
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Services engineering 2015</p>
      </footer>
 
    </div>
  </body>
</html>
